<table align="center" border="1" class="dataframe">
<thead>
<tr style="text-align: right;">
<th></th>
<th>Address</th>
<th>Area</th>
<th>Beds</th>
<th>Full Baths</th>
<th>Half Baths</th>
<th>Locality</th>
<th>Lot Size</th>
<th>Price</th>
<th>Latitude</th>
<th>Longitude</th>
</tr>
</thead>
<tbody>
<tr>
<th>0</th>
<td>0 Gateway</td>
<td>NaN</td>
<td>NaN</td>
<td>NaN</td>
<td>NaN</td>
<td>Rock Springs, WY 82901</td>
<td>NaN</td>
<td>$725,000</td>
<td>38.683240</td>
<td>-108.972240</td>
</tr>
<tr>
<th>1</th>
<td>1003 Winchester Blvd.</td>
<td>NaN</td>
<td>4.0</td>
<td>4.0</td>
<td>NaN</td>
<td>Rock Springs, WY 82901</td>
<td>0.21 Acres</td>
<td>$452,900</td>
<td>53.428760</td>
<td>-2.948240</td>
</tr>
<tr>
<th>2</th>
<td>3239 Spearhead Way</td>
<td>3,076</td>
<td>4.0</td>
<td>3.0</td>
<td>1.0</td>
<td>Rock Springs, WY 82901</td>
<td>Under 1/2 Acre,</td>
<td>$379,900</td>
<td>50.850800</td>
<td>3.092700</td>
</tr>
<tr>
<th>3</th>
<td>600 Talladega</td>
<td>3,154</td>
<td>5.0</td>
<td>3.0</td>
<td>NaN</td>
<td>Rock Springs, WY 82901</td>
<td>NaN</td>
<td>$379,000</td>
<td>33.434510</td>
<td>-86.102690</td>
</tr>
<tr>
<th>4</th>
<td>3457 Brisol Avenue</td>
<td>3,236</td>
<td>5.0</td>
<td>3.0</td>
<td>NaN</td>
<td>Rock Springs, WY 82901</td>
<td>0.34 Acres</td>
<td>$349,900</td>
<td>41.722846</td>
<td>-71.279370</td>
</tr>
<tr>
<th>5</th>
<td>234 Via Spoleto</td>
<td>2,688</td>
<td>4.0</td>
<td>3.0</td>
<td>NaN</td>
<td>Rock Springs, WY 82901</td>
<td>Under 1/2 Acre,</td>
<td>$330,000</td>
<td>41.590462</td>
<td>-109.270509</td>
</tr>
<tr>
<th>6</th>
<td>2425 Cripple Creek</td>
<td>8,263</td>
<td>4.0</td>
<td>35.0</td>
<td>NaN</td>
<td>Rock Springs, WY 82901</td>
<td>NaN</td>
<td>$279,900</td>
<td>38.747510</td>
<td>-105.179420</td>
</tr>
<tr>
<th>7</th>
<td>522 Emerald Street</td>
<td>1,172</td>
<td>3.0</td>
<td>3.0</td>
<td>NaN</td>
<td>Rock Springs, WY 82901</td>
<td>Under 1/2 Acre,</td>
<td>$254,000</td>
<td>-25.785660</td>
<td>28.101510</td>
</tr>
<tr>
<th>8</th>
<td>1302 Veteran's Drive</td>
<td>1,932</td>
<td>4.0</td>
<td>2.0</td>
<td>NaN</td>
<td>Rock Springs, WY 82901</td>
<td>0.27 Acres</td>
<td>$252,900</td>
<td>46.575225</td>
<td>6.537425</td>
</tr>
<tr>
<th>9</th>
<td>343 Via Rucce</td>
<td>NaN</td>
<td>3.0</td>
<td>2.0</td>
<td>1.0</td>
<td>Rock Springs, WY 82901</td>
<td>0.16 Acres</td>
<td>$219,900</td>
<td>41.591532</td>
<td>-109.268491</td>
</tr>
<tr>
<th>10</th>
<td>913 Madison Dr</td>
<td>1,344</td>
<td>3.0</td>
<td>2.0</td>
<td>NaN</td>
<td>Rock Springs, WY 82901</td>
<td>Under 1/2 Acre,</td>
<td>$209,000</td>
<td>43.073130</td>
<td>-89.386440</td>
</tr>
</tbody>
</table>